<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Design || Future Web</title>
    <link rel="stylesheet" href="css/ticket.css" />
</head>


<body>
    <div class="header_fixed">
        <table>
            <tbody>
                <tr>
                    <td>DIM 05 MARS</td>
                    <td><img class="cn"src="image/can.jpg"/></td>
                    <td>cote d'hivoir</td>
                    <td><img class="Ig"src="image/logo.png"/>VS<img class="Ig"src="image/Logo_cameroun.png"/></td>
                    <td>cameroon</td>
                    <td><button>BILLETS</button> <button class="bt">GROUPES</button></td>
                </tr>
                <tr>
                    <td>JEUDI 23 MARS</td>
                    <td><img class="cn"src="image/can.jpg"/></td>
                    <td>ghana</td>
                    <td><img class="Ig"src="image/gh.png"/>VS<img class="Ig"src="image/logo.png"/></td>
                    <td>cote d'hivoir</td>
                    <td><button>BILLETS</button> <button class="bt">GROUPES</button></td>
                </tr>
                <tr>
                    <td>JEUDI 30 MARS</td>
                    <td><img class="cn"src="image/can.jpg"/></td>
                    <td>cote d'hivoir</td>
                    <td><img class="Ig"src="image/logo.png"/>VS<img class="Ig"src="image/Logo_cameroun.png"/></td>
                    <td>cameroon</td>
                    <td><button>BILLETS</button> <button class="bt">GROUPES</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</body>

</html>