<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css 2/styles2.css" />
    <title>Product Card UI</title>
  </head>
  <body>
    <div class="card">
    <div class="product-details">
        <div class="titre">
            <h1>Men's T-shirt</h1>
            <span>COD: 3299</span>
        </div>
        <div class="price">$<span>9.99</span></div>
        <div class="variant">
            <h3>COLOR</h3>
            <ul>
                <li>Red</li>
                <li>Red</li>
                <li>Red</li>
                <li>Red</li>
                <li>Red</li>
            </ul>
        </div>
        <div class="variant">
            <h3>SIZE</h3>
            <ul>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
        </div>
        <bUtton class="action-btn">ADD TO CART</bUtton>
    </div>
    <div class="imgContainer">
      <div class="imgBox">
        <img src="image boutique/maillot 33.jpg" alt="">
      </div>
    </div>
  </body>
</html>