
.login-box{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(16, 187, 25, 0.514);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(199, 196, 196, 0.6);
    border-radius: 10px;
    transition:all .5s;
    -webkit-transition:all .6s;
    -moz-transition:all 2s;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
.login-box .user-box {
    position: relative;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #d2e908;
    font-size: 12px;
  }
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    margin-top: 1px;
  }
  
  .login-box a:hover {
    background: #10d32a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #d2e908,
                0 0 25px #d2e908,
                0 0 50px #d2e908,
                0 0 100px #d2e908;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #d2e908);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
.login-box.active{
    visibility: visible;
    opacity: 1;
    z-index: 1005;
}
.login-box span.closs-btn{
    position: absolute;;
    right: 5px;
    top: 5px;
    display: inline-block;
    height: 45px;
    width: 80px;
    text-transform: uppercase;;
    background: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.login-box span.closs-btn:hover{
    background: #29c157;
    color: #fff;
}

